<h1>Editing <%= @bakery.name %></h1>

<%= form_for @bakery do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.submit "Change this Bakery" %>
<% end %>
