<h1>This is our bread box.</h1>

<p>
  <%= link_to "Bake a Bread", "/breads/new" %>
</p>

<%= form_tag "/breads", method: :get do %>

  <%= text_field_tag :search_term %>
  <%= submit_tag "Search for Bread" %>
  
<% end %>

<ul>
  <% @breads.each do |breadObject| %>
    <li>
      <%= link_to breadObject.name, breadObject %>
    </li>
  <% end %>
</ul>
