<h1>Welcome to the Bakery</h1>

<%= form_for @bread do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :flavor %>
  <%= f.text_field :flavor %>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.submit "Put it in the oven" %>
<% end %>
